<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Spark team </title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="../assets/css/style-starter.css">

  <!-- google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
  <div class="se-pre-con"></div>
<section>
  <!-- sidebar menu start -->
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
      <h1><a href="index.html">Collective</a></h1>
    </div>

    <div class="logo-icon text-center">
      <a href="index.html" title="logo"><img src="../assets/images/logo.png" alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">   
        <li class="menu-list">
          <a href="#"><i class="fa fa-cogs"></i>
            <span>Home <i class="lnr lnr-chevron-right"></i></span></a>
          <ul class="sub-menu-list">

            <!--//检测案例-->
            <li><a href="Beidou_satellite_positioning.html">Beidou satellite positioning</a> </li>
            <li><a href="Video_detection_control.html">Video detection control</a> </li>

          </ul>
        </li>
        <!--<li><a href="pricing.html"><i class="fa fa-table"></i> <span>Pricing tables</span></a></li>-->

        <!--项目介绍-->
        <li><a href="Spark_Team_Project.html"><i class="fa fa-th"></i> <span>Spark team project</span></a></li>

      </ul>

      <a class="toggle-btn">
        <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
        <i class="fa fa-angle-double-right menu-collapsed__right"></i>
      </a>

    </div>
  </div>


  <center><h2>Welcome! <span class="text-primary"> Spark</span> team</h2></center>
  <center><h1>No matter what happens, the newborn calf is not afraid of tigers! <span class="text-primary"></span></h1></center>


<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    
    <div class="welcome-msg pt-3 pb-4">
      
      <p>Detailed data & Sensor Management</p>
    </div>

    <!-- charts -->
    <div class="chart">
      <div class="row">
        <div class="col-lg-6 pr-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              Temperature
            </div>
            <div class="card-body">
              <!-- bar chart -->
              <div id="container">
                <canvas id="barchart"></canvas>
              </div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
          
            </div>
          </div>
        </div>

        <!--自己加的1-->
        <div class="col-lg-6 pr-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              humidity
            </div>
            <div class="card-body">
              <!-- bar chart -->
              <div id="container">
                <canvas id="barh"></canvas>
              </div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              
            </div>
          </div>
        </div>

         <!--自己加的2-->
         <div class="col-lg-6 pr-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              Chestnut weevil pest detection curve
            </div>
            <div class="card-body">
              <!-- bar chart -->
              <div id="container">
                <canvas id="barc"></canvas>
              </div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
             
            </div>
          </div>
        </div>


        <div class="col-lg-6 pl-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              Light intensity
            </div>
            <div class="card-body">
              <!-- line chart -->
              <div id="container">
                <canvas id="linechart"></canvas>
              </div>
              <!-- //line chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
        
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- accordions -->
    <div class="accordions">
      <div class="row">
        <!-- accordion style 1 -->
        <div class="col-lg-12 mb-4">
          <div class="card card_border">
            <div class="card-header chart-grid__header">
              Brief introduction of Sensor
            </div>
            <div class="card-body">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header bg-white p-0" id="headingOne">
                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">Digital frequency synthesis</a>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body para__style">
                      &ensp;   &ensp;The use of digital frequency synthesis to send out a frequency of 27 MHz, so that the real image of Chinese chestnut has the characteristics of adverse response, so as to achieve the function of checking and killing!
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bg-white p-0" id="headingTwo">
                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">Light sensor</a>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body para__style">
                      &ensp;   &ensp;The use of light sensor to adjust the angle of the solar panel, so that the solar panel work efficiency is the highest, thus energy saving and environmental protection!
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bg-white p-0" id="headingThree">
                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">Temperature and humidity sensor</a>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="card-body para__style">
                      &ensp;   &ensp;The main purpose of using temperature and humidity sensors is to tell greenhouses whether farmland and greenhouses need water!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- //accordion style 1 -->
      </div>
    </div>
    <!-- //accordions -->

    <!-- modals -->
        <!-- //modals -->

  </div>
  <!-- //content -->
</div>
<!-- main content end-->
</section>
  <!--footer section start-->
<footer class="dashboard">
  <p> &copy; Spark team<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
</footer>
<!--footer section end-->
<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="../assets/js/Chart.min.js"></script>
<script src="../assets/js/utils.js"></script>

<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="../assets/js/bar.js"></script>
<script src="../assets/js/linechart.js"></script>
<script src="../assets/js/barh.js"></script>
<script src="../assets/js/barc.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="../assets/js/jquery.nicescroll.js"></script>
<script src="../assets/js/scripts.js"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script src="../assets/js/modernizr.js"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="../assets/js/bootstrap.min.js"></script>

</body>

</html>
  